* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

#logo {
  width: 190px;
}

#left-nav {
  flex-basis: 200px;
}

#right-nav {
  flex-basis: 178px;
}

nav {
  padding: 5px 16px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 56px;
}

nav button {
  background-color: #567b95;
  border: none;
  padding: 10px 13px;
  color: #ffffff;
  border-radius: 3px;
  font-size: x-small;
}

nav button:hover {
  background-color: #316891;
}

.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

h1,
p {
  margin: 0 auto;
  width: 600px;
}

figcaption {
  width: 880px;
}

.red {
  background: red;
}

.m-0-auto {
  margin: 0 auto;
}

.image-container {
  width: 1080px;
}

.full-width {
  width: 100%;
}
