* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #316891;
}

/* Nav */

nav {
  padding: 5px 16px;
  border-bottom: 1px solid lightgray;
}

#left-nav {
  flex-basis: 200px;
}

#logo {
  width: 190px;
}

#right-nav {
  flex-basis: 178px;
}

button {
  background-color: #567b95;
  border: none;
  padding: 10px 13px;
  color: #ffffff;
  border-radius: 3px;
  font-size: x-small;
  cursor: pointer;
}

button:hover {
  background-color: #316891;
}

/* Main Content */

h1 {
  padding: 56px 0 24px;
  font-size: 2.3rem;
  font-family: "Tinos", "Quattrocento" sans-serif;
  font-style: italic;
}

h1,
.content-container {
  margin: 0 auto;
  width: 600px;
}

h2{
  margin: 32px 0 8px;
  font-size: 22px;
  color: #333333;
}

figcaption {
  width: 742px;
  font-family: "Tinos", "Quattrocento" sans-serif;
}

.image-container {
  width: 960px;
  padding-bottom: 40px;
}

.content-container {
  width: 600px;
}

.full-width {
  width: 100%;
}

#mid-image-1 {
  width: 880px;
}

.social {
  /* flex: 1; */
  width: 10px;
  height: 10px;
  /* text-align: center;
  vertical-align: middle; */
  /* padding: 15px; */
  background: lightgray;
  border-radius: 50%;
}

iframe{
  border: none;
}

figure{
  margin: 32px 0;
}

.content-container p {
  padding: 10px 0;
  font-size: 20px;
  color: #333333;
  font-family: "Source Serif Pro", "Libre Caslon Text", sans-serif;
}

#inflation-section {
  width: 944px;
}

#inflation-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

#comment-button{
  padding: 12px 104px;
  font-size: smaller;
  font-weight: bold;
}

/* Generic classes*/

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.red {
  background: red;
}

.m-0-auto {
  margin: 0 auto;
}

.gray {
  color: #666666;
}

.light-gray {
  color: rgb(136, 136, 136);
}

.smaller {
  font-size: 13px;
}

.small {
  font-size: 15px;
}